#aboutpage{
	color:rgb(250, 250, 250);
	padding-top: 5%;
}

.about-photo{
	width: 30%;
    padding-right: 2%;
    padding-top: 1%;
}

p{
	text-align: justify;
}

.about-strip{
	/*padding-top: 5%;*/
	position: absolute;
	top: 15%;
	width: 33%;
	height: 80%;
	overflow: auto;
	padding: 2%;
	padding-top:0% 
}

.sketches{
	position: absolute;
    top: 0;
    left: 34%;
    height: 100%;
    width: 66%;
}

.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img.about-sketch{
	height: 100%;
}

::-webkit-scrollbar{
  width:5px;
} 

::-webkit-scrollbar-thumb{
   background-color: rgba(255,255,255,0.7);
   border-radius: 5px;
   height: 50px;
} 