.proj-edit-comp > a.selected-proj-edit{
    /*border-color: green;*/
    border-color: yellow;
}

.proj-edit-comp > a{
	border: 1px solid black;
	border-color: rgb(10,10,10);
}

input.error{
    background-color:rgb(255, 255, 185);
}

.login-form{
	padding: 2%;
    background-color: whitesmoke;
    border-radius: 2px;
    color: black;
}

.login-page{
	padding:10%;
}

.admin-forms{
	color: black;
    padding: 2%;
    background-color: whitesmoke;
    border-radius: 2px;
    margin-bottom: 1%;
    margin: 2%;
}

a.adminlink{
	color:black;
}

.admin-forms a{
	color:black;
}

.forgot-pass{
    color:black;
    font-weight: normal;
}
