.proj-edit-comp > a.selected-proj-edit{
    border-color: green;
}

.proj-edit-comp > a{
	border: 1px solid black;
	border-color: rgb(10,10,10);
}

input.error{
    background-color:rgb(255, 255, 185);
}