#map-wrapper{
  text-align: center;
}

#container{
  margin-top: 5%;
}

#map{
  height:300px;
  width:350px;
  display: inline-block;
}

.phone-li{
  color: whitesmoke;
}

figure {
  float: left;
  margin: 10px 10px 10px 0;
}

.phone-li > td{
  padding-bottom: 10%;
  padding-right: 5%;
}

#news-full{
  color: whitesmoke;
}

#news-photo{
  width: 200px;
  height: 200px;
  padding: 0% 2% 1% 0%;
}

#sidebar-news{
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(0,0,0,0.7);
}

.news-icon{
  height: 30px;
  cursor: pointer;
}

.newspage-desc{
  padding-bottom: 3%;
  padding-top: 1%;
}

.newspage-bot{
  position: absolute;
  top:90%;
}

.news-fill-parent{
  height: 93%;
  width: 100%;
}

.news-carousel-icons{
  padding-top: 1%;
  position: absolute;
  top: 86%;
  text-align: center;
  width: 100%;
}