#map-wrapper{
  text-align: center;
  position: absolute;
  top: 7%;
  padding: 5%;
  width: 40%;
  height: 90%;
  overflow: auto;
}

#container{
  margin-top: 5%;
}

#map{
  /*height:300px;
  width:350px;*/
  height:70%;
  width:98%;
  display: inline-block;
}

.phone-li{
  color: whitesmoke;
}

figure {
  float: left;
  margin: 10px 10px 10px 0;
}

.phone-li > td{
  padding-bottom: 10%;
  padding-right: 5%;
}

#news-full{
  color: whitesmoke;
}

#news-photo{
  width: 200px;
  height: 200px;
  padding: 0% 2% 1% 0%;
}

#sidebar-news{
  position: absolute;
  top: 0;
  width: 15%;
  height: 86.5%;
  padding-top: 15%;
  text-align: center;
  background-color: rgba(0,0,0,0.7);
}

.news-icon{
  height: 45px;
  cursor: pointer;
  padding-bottom: 0.7%;
  padding-top: 0.7%;
}

.newspage-desc{
  padding-bottom: 3%;
}

.newspage-bot{
  /*position: absolute;
  top:93%;*/
  padding-top: 1%
}

.news-fill-parent{
  height: 93%;
  width: 100%;
}

.news-carousel-icons{
  padding-top: 1%;
  position: absolute;
  top: 86%;
  text-align: center;
  width: 100%;
  padding-right: 3%;
  padding-left: 3%;
}

#cont-photo-right{
  width: 100%;
  height: 100%;
}

/*#fb-icon{
  color: #3B5998;
}*/

#info-left{
  text-align:center;
  background-color: black;
  padding-bottom: 1%;
}

#phones-div{
  /*display:inline-block;*/
  vertical-align:top;
  background-color: black;
}

.phone-type{
  display: inline-block;
  color: rgb(255, 190, 0);
}
.phone-number{
  display: inline-block;
  width: 50%;
  text-align: left;
  padding-left: 3%;
}
.cont-photo-wrapper{
  position: absolute;
  top: 0;
  left: 40%;
  height: 100%;
}
#left-div-wrapper{
  height: 80%;
  background-color:black;
}
.contact-country{
  color:rgb(255, 190, 0);
}
.country-tab{
  cursor:pointer;
  padding:7%;
}
#country-div{
  background-color: black;
  padding-top: 1%;
  padding-bottom: 1%;
  /* text-align: left; */
  position: relative;
  top: 0;
  z-index: 2;
  width: 100%;
}
.social > a{
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
}
.social{
  padding-top: 1%;
  padding-bottom: 1%;
}

.fb-wrapper{
  background-color: #3B5998;
}
.tw-wrapper{
  background-color: #55ACEE;
}
.inst-wrapper{
  background-color: #3F729B;
}
.google-wrapper{
  background-color: #DC4E41;
}
.lin-wrapper{
  background-color: #0077B5;
}
.social > a:hover{
  color: rgb(200, 200, 200);
}
.social > a:focus{
  color: rgb(200, 200, 200);
}
.phones > h5{
  margin-bottom: 1.5%;
  margin-top: 1%;
}
