@media (min-width: 300px) and (max-width: 767px) {
	.port-cat{
		margin-top: 0px !important;
		padding-left: 0px;
	}
   .cat-nav{
   	width: 100%;
    background-color: rgba(0,0,0,0.5)!important;
    position: absolute;
   }
   .cat-col{
   	padding: 0px;
   }

   .port-grid{
   	margin-top: 10% !important;
   }

   #map-wrapper {
	    top: 75%;
	    width: 100%; 
	    overflow: visible;
	    margin-bottom: 10%;
   }

   .cont-photo-wrapper{
	    top: 8%;
	    width: 100%;
	    height: 70%;
	    left:0;
   }

   .cat-title{
    display: none;
   }

   .proj-side-desc{
    display: none;
   }

   .mobileProject{
    display: block ! important;
  }
}
@media (min-width: 768px) and (max-width: 990px) {
	.port-cat{
		margin-top: 3% !important;
		padding-left: 0px;
	}
}

pre{
	display: block;
    padding: 0px; 
    margin: 0 0 10px;
    font-size: inherit; 
    line-height: 1.42857143; 
    color: inherit; 
    word-break: break-all;
    word-wrap: break-word;
    background-color: transparent; 
    border: none; 
    font-family: inherit;
    tab-size: 0;
}

.port-grid{
	margin-bottom: 10%;
}

.mobileProject{
    z-index: 2;
    position: absolute;
    left: 17%;
    background-color: rgba(0,0,0,0.7);
    padding: 2%;
    width: 83%;
    /*max-height: 70%;*/
}

.mobileProject > h1 > span{
  padding: 0;
}

.mobile-proj-desc{
  height: 225px;
  overflow-y:auto;
  display: none;
}

.toggle-desc{
  width:100%;
  text-align: center;
}

.mobile-cat-title{
  text-align: center;
}

.mobileProject{
  display: none;
}
