.nav, .pagination, .panel-title a {
 	cursor: pointer;
 }

body{
	background-color: rgb(10, 10, 10);
}

.logo{
	width: 80px;
}

.navbar{
	background-color: rgba(0, 0, 0, 0);
	border: none;
	color: rgb(255, 255, 255);
	margin-bottom: 0px;
	font-weight: bold;
	z-index: 5;
	border-radius: 0px;
	/*border-bottom: 0.5px solid rgba(245, 245, 245, 0.5);*/
}

.navbar-nav{
	padding: 10px;
}

.navbar-nav > li{
	border-left: 0.5px solid rgba(245,245,245, 0.5);
}

.navbar-default .navbar-nav > li > a{
    padding-top: 5px;
    padding-bottom: 5px;
    color: rgb(250, 250, 250);
    text-shadow: 0 0 3px black;
}

.navbar-default .navbar-nav > li > a:hover{
    color: rgb(200, 200, 200);
}

.navbar-default .navbar-nav > li > a:focus{
    color: rgb(200, 200, 200);
}

 .fill-parent > .carousel-inner{
	width: 100%;
	height: 100%;
}

#home-carousel{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
}

.carousel-caption{
	height: 65%;

}

.carousel-caption > h4{
	font-size: 70px;
	color: rgb(250, 250, 250);
	text-shadow: 0 0 4px black;
	margin-bottom: 3%;
}

.carousel-control{
	z-index: 3;
}

#home-carousel > .carousel-inner > .item > img{
	height: 100%;
	width: 100%;
}

.fill-parent {
	height: 100%;
	width: 100%;
}

.project-button{
	padding: 2%;
	background-color: transparent;
	border-radius: 5px;
	border-style: solid;
	border-width: 2px;
	padding-left: 5%;
	padding-right: 5%;
	font-size: 17px;
	color: rgb(250, 250, 250);
	text-shadow: 0 0 4px black;
	font-weight: bold;
	box-shadow: 0px 0px 5px black;
}

.project-button:hover{
	color: rgb(200, 200, 200);
	text-decoration: none;
}

.project-button:focus{
	color: rgb(200, 200, 200);
	text-decoration: none;
}

.proj-desc > h1{
	font-size: 18px;
	color: rgb(250, 250, 250);
	text-shadow: 0 0 3px black;
	font-weight: bold;
}

.proj-desc{
    padding: 1%;
	padding-top: 10%;
	height: 100%;
	width: 17%;
	overflow: auto;
	color: rgb(250, 250, 250);
	z-index: 1;
	text-shadow: 0 0 3px black;
	background-color: rgba(0,0,0,0.5);
	position: absolute;
    top: 0;
}

.name-proj{
	font-size: 18px;
	color: rgb(250, 250, 250);
	text-shadow: 0 0 3px black;
}

.project-icon{
	/*height: 100%;*/
    width: 23%;
	vertical-align: middle;
}

.project-icon:hover{
	cursor: pointer;
}

.carousel-icons{
	padding-top: 1%;
	/*height: 7%;*/
}

#projectpage{
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 100%;
}

#project-carousel{

}

.category-proj{
    color: rgb(255, 218, 0);
    padding-right: 2%;
}


#home-title > span{
	font-size: 20px;
}


/*salah*/

.animate-repeat.ng-animate{
  -webkit-transition:all linear 0.25s;
  transition:all linear 0.25s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-enter {
  opacity:0;
  max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  max-height:40px;
}

.projImage{
  max-height: 120px;
  opacity: 1;
  color:white;
}

.proj-animate.ng-animate {
  -webkit-transition:all linear 0.25s;
  transition:all linear 0.25s;
}

.proj-animate.ng-enter.ng-enter-active, .proj-animate.ng-leave {
  opacity:1;
}

.proj-animate.ng-leave.ng-leave-active, .proj-animate.ng-enter{
  opacity:0;
}

.proj-animate{
  margin-top: 2%;
}

.projComp{
  display: inline-block;
  background: white;
  position: relative;
}

.projInfo{
  position: absolute;
  bottom:0%;
  left:0%;
  height: 20%;
  width:100%;
  color:white;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-weight: bold;
}

.proj-animate:hover .projInfo{
	height: 50%;
	-webkit-transition:all linear 0.25s;
  transition:all linear 0.25s;
}

.projImage:hover{
  /*height: 30%;*/
  /*-webkit-transition:all linear 0.25s;
  transition:all linear 0.25s;*/
}

.port-cat{
	margin-top:35%;
	font-weight: bold;
	font-size: 15px;
	color: rgb(250,250,250);
}

.port-grid{
	border-left: 1px solid #FAFAFA;
	margin-top: 3%;
}

ul{

	list-style-type: none;
}

.yellow-hover:hover{
	color: rgb(255, 218, 0);
}

.sub-proj{
	padding-left: 1%;
	border-left: 2px solid #FAFAFA;
}

.selected{
  color: rgb(255, 218, 0);
}

.yellow-hover,
.parentCat{
  cursor:pointer;
}

/*salah*/
.pre-animation {
  transition: all 200ms 0ms ease-in;
  opacity: 0;
}
.animating {
  opacity: 1;
}

.carousel-inner > .item > img.project-page-image{
	height:100%;
}

.home-caption{
	color: #FAFAFA;
	position: absolute;
	left: 0;
	top: 20%;
	background-color: rgba(0, 0, 0, 0.5);
	width: 18%;
	height: 9%;
	padding-bottom: 20px;
	font-weight: bold;
	font-size: 150%;
	border-radius: 1px;
	z-index: 4;
}

.home-caption:hover{
	color: rgb(200, 200, 200);
	text-decoration: none;
}

.home-caption:focus{
	color: rgb(200, 200, 200);
	text-decoration: none;
}

/*@media only screen and (max-width: 1100px) {
    .home-caption {
        font-size: 20px;
    }
}

@media only screen and (max-height: 700px) {
    .home-caption {
        font-size: 20px;
    }
}*/


.main-photo{
	max-height: 120px;
	cursor: pointer;
}

.admin-content{
	color: rgb(250, 250, 250);
}

.navbar-bottom{
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	min-height: 20px;
	position: fixed;
}

.bottom{
	padding: 0;
}

.bottom > li{
	border-left-style: none;
}

.logo-large{
	width: 10%;
}
.proj-photos{
	height: 100%;
	padding: 0;
	position: absolute;
    width: 100%;
    z-index: 0;
    top: 0;
}

#projectpage .col-md-12{
	padding: 0;
}

.news-stream-photo > img{
	width:100%;
}

.news-stream{
	padding-top: 5%;
}

.news-comp{
	padding-bottom: 2%;
	height: 205px;
	color: rgb(250, 250, 250);
}

.news-stream-desc{
	border-left: 1px solid #FAFAFA;
	height: 100%;
}

.news-stream-photo{
	height: 98%;
}

.news-cat{
	color: rgb(255, 218, 0);
}

.carousel-control.home-control{
	background-color: rgba(0, 0, 0, 0);
	height: 10%;
	top: 45%;
	background-image: none;
}

.proj-desc > p{
	padding-top: 2%;
}